.videoSideBar{
    position: absolute;
    bottom: 190px;
    right: 0;
    width: 120px;
    height: 500px;
    // border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    letter-spacing: -0.05em;
    .avaBox{
        position: relative;
        .avaImg{
            width: 100px;
            height: 100px;
            border: 1px solid #fff;
            border-radius: 50%;
        }
        .follow.icon-jiahao{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: red;
            color: #fff;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0)
        }
        .follow.icon-icon{
            display: inline-block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #fff;
            border: 1px solid red;
            color: red;
            font-size: 20px;
            text-align: center;
            line-height: 40px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0)
        }
    }
    .likedCounterBox {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .iconfont.icon-aixin {
            font-size: 75px;
        }

        .likedNum {
            font-size: 26px;
        }
      }
    .likedCounterBox.zaned{
        color: red;
    }
    .commentCounterBox {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .iconfont.icon-pinglun {
            font-size: 68px;
        }
        .commentNum {
            font-size: 26px;
        }
      }
    .shareCounterBox {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .iconfont.icon-fenxiang {
            font-size: 70px;
        }
        .shareNum {
            font-size: 26px;
        }
      }
}