.loginBox{
  width: 100%;
  height: 100%;
}
.login {
  width: 100%;
  height: 100vh;
  background:#fefefe;
  padding:48px;
  .header {
    display: flex;
    justify-content: space-between;
    .close {
      font-weight: 600;
      font-size: 48px;
      
    }
  }
  .con{
    padding:40px;
    width: 100%;
    p{
      font-size: 25px;
      margin:20px 0;
      color:#bcbdbd;
    }
    .rule{
      display: none;
      color: red;
    }
    .inp{
      width: 100%;
      height: 90px;
      .pw{
        width: 100%;
        height: 100%;
        padding: 20px;
        background:#f9f9f9;
        border:none;
      }
      input::-webkit-input-placeholder{
        color:#ccc;
        font-size: 30px;
      }
    }
    // .btnBox{
      .btn{
        margin-top:30px;
        width: 100%;
        height: 90px;
        background:#d8d8d8;
        text-align: center;
        line-height: 90px;
        color:#fff;
      }
    // }
  }

}